<html>
	<head>
	    <title>Search - NY State Home Safety</title>
 	    <% include components/header %>
	</head>
	<body>
		<% include components/topbar %>
		<div id="main">
			
		</div>
		<% include components/footer %>
	</body>
</html>