body {
	margin:0;
	width: 100vw;
	overflow-x: hidden;
}
h1, p{
	font-family: "proxima-nova",sans-serif;
}
.topbar{
	background: #5E5E5E;
	width: 100%;
	height: 72px;
	position: relative;
	top: 0px;
	border: none;
	color: white;
}
.name{
	position: absolute;
	top: -4px;
	left: 15%
}
.passage{
	width: 80%;
	max-width: 720px;
	margin: 0 auto;
	margin-top: 24px;
	margin-bottom: 24px;

	padding-left: 96px;
	padding-right: 96px;
	padding-top: 48px;
	padding-bottom: 48px;
	z-index: 1;
	background: #FAFAFA;
}